---
import { Image } from 'astro:assets';
---

<div class="relative w-full h-full">
  <Image
    src="/avatar1.png?height=176&width=176"
    alt="Avatar illustration"
    width={176}
    height={176}
    class="object-cover w-full h-full rounded-lg"
  />
</div>

