---
---

<div class="flex gap-2 mt-2">
  <a
    href="https://github.com/MarianoVilla"
    class="p-1.5 rounded-full border border-green-700 hover:border-green-500 transition-colors"
    aria-label="GitHub"
  >
    <i class="bi bi-github text-green-400" style="font-size: 1rem;"></i>
  </a>
  <a
    href="https://www.twitch.tv/dagerxiv"
    class="p-1.5 rounded-full border border-green-700 hover:border-green-500 transition-colors"
    aria-label="Twitch"
  >
    <i class="bi bi-twitch text-green-400" style="font-size: 1rem;"></i>
  </a>
  <a
    href="https://x.com/Dager_32"
    class="p-1.5 rounded-full border border-green-700 hover:border-green-500 transition-colors"
    aria-label="X"
  >
    <i class="bi bi-twitter-x text-green-400" style="font-size: 1rem;"></i>
  </a>
  <a
  href="https://www.youtube.com/@DotDager"
  class="p-1.5 rounded-full border border-green-700 hover:border-green-500 transition-colors"
  aria-label="Youtube"
>
  <i class="bi bi-youtube text-green-400" style="font-size: 1rem;"></i>
</a>
</div>

